.container {
    position: relative;
    background: linear-gradient(270deg, #4B0082 0%, #483D8B 100%);
    margin: 0;
    min-width: 90vw;
    max-width: 100vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding-bottom: 10px;
}

.navLogo {
    height: 7vh;
}

.navTitle{
    margin-left: 20px;
    font-size: 5vh;
    font-weight: bold;
}

.menulink {
    padding-top: 30px;
    color: white !important;
    font-size: 15pt;
    font-weight: 100;
}

.menu-dropdown-link {
    font-size: 30pt;
    color: white;
    padding-top: 20px;
}

.menulink:hover, .menu-dropdown-link:hover, .menulink-dropdown:hover {
    cursor: pointer;
}

.menu-dropdown {
    position: absolute;
    margin-right: 100px;
    overflow: auto;
    background: linear-gradient(270deg, #4B0082 0%, #483D8B 100%);
}

.menulink-dropdown {
    color:#3b5360 !important;
    font-size: 10pt;
    font-weight: 10;
}
